## Libraries
<hr>
The libraries used are pandas, numpy, seaborn, Counter, matplotlib, axes3d, linearregression.

In [11]:
# Data analysis
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import sklearn
from collections import Counter

# Visualization
%matplotlib inline 
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('png2x','pdf')
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import axes3d
from IPython.display import IFrame
import geocoder

# machine learning library
from sklearn import datasets, linear_model, cross_validation
from sklearn.model_selection import train_test_split, KFold, cross_val_score, cross_val_predict
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
#import xgboost as xgb
from sklearn.neural_network import MLPRegressor

# other
import time

pd.options.mode.chained_assignment = None #SettingWithCopyWarning for confusing chained assignment disabled

## 1 Data Acquisition
<hr>
The data for this report is acquired from the Singapore government website [1]. Data are collected from the period 1990 until January 2018. The data is provided in four seperate files, which will be merged into Python. The third file (> 20 MB) was seperated into periods of 2006-2012 and 2012-2014. This was necessary to make use of the Github repository.

In [52]:
# Load datasets
data1 = pd.read_csv('sg-resale-flat-prices-1990-1999.csv', sep =',')
data2 = pd.read_csv('sg-resale-flat-prices-2000-2005.csv', sep =',')
data3 = pd.read_csv('sg-resale-flat-prices-2006-2012.csv', sep =',')
data4 = pd.read_csv('sg-resale-flat-prices-2012-2014.csv', sep =',')
data5 = pd.read_csv('sg-resale-flat-prices-2014-2018.csv', sep =',')

In [53]:
data5 = data5.drop('remaining_lease',1)
print('Number of training data =', data5.shape)

Number of training data = (58631, 10)

In [54]:
#concatenate dataset
sets = [data1, data2, data3, data4, data5]
data = pd.concat(sets)
print('Number of training data =', data.shape)

Number of training data = (768629, 10)

## 3 Cleaning and Preprocessing the Dataset
<hr>
The cleaning and preprocessing section are divided into four sections, namely cleaning, encoding, feature engineering and one hot encoding.

### 3.1 Data Cleaning
During the exploration, there are some cleaning that should be performed. First, the flat types consist of eight types, which should be seven types instead. The flat type "Multi Generation" has a unique value with a space in between and one with a hyphen. Second, the flat models consist of 32 models, which should be 21 instead. This is also because of the capital usage. These doubles are removed by cleaning the data. Third, some storey range values in data set 4 are not correct. In the exploration, we have research the difference and since *** these values will be too different, these data points have been removed from the data set. Fourth, the feature "month" consists of sales year and sales month, e.g. 1990-01. To include the years and months in the model, this variable will be seperated to a variable called sales year and a variable called sales month.

In [55]:
pd.options.mode.chained_assignment = None #SettingWithCopyWarning for confusing chained assignment disabled

#remove doubles
data['flat_type'][data['flat_type'] == 'MULTI-GENERATION'] = 'MULTI GENERATION'

#flat_type count
count_flat_type = data['flat_type'].nunique()
print("Total Flat Type Count:", count_flat_type)
flat_type_count = data['flat_type'].value_counts()
print("Flat Type \n" +str(flat_type_count))

Total Flat Type Count: 7
Flat Type
4 ROOM              285136
3 ROOM              258482
5 ROOM              156260
EXECUTIVE            58177
2 ROOM                8859
1 ROOM                1246
MULTI GENERATION       469
Name: flat_type, dtype: int64

In [56]:
#remove doubles
data['flat_model'][data['flat_model'] == 'MODEL A'] = 'Model A'
data['flat_model'][data['flat_model'] == 'IMPROVED'] = 'Improved'
data['flat_model'][data['flat_model'] == 'NEW GENERATION'] = 'New Generation'
data['flat_model'][data['flat_model'] == 'PREMIUM APARTMENT'] = 'Premium Apartment'
data['flat_model'][data['flat_model'] == 'SIMPLIFIED'] = 'Simplified'
data['flat_model'][data['flat_model'] == 'STANDARD'] = 'Standard'
data['flat_model'][data['flat_model'] == 'APARTMENT'] = 'Apertment'
data['flat_model'][data['flat_model'] == 'MAISONETTE'] = 'Maisonette'
data['flat_model'][data['flat_model'] == 'ADJOINED FLAT'] = 'Adjoined flat'
data['flat_model'][data['flat_model'] == 'MODEL A-MAISONETTE'] = 'Model A-Maisonette'
data['flat_model'][data['flat_model'] == 'TERRACE'] = 'Terrace'
data['flat_model'][data['flat_model'] == 'MULTI GENERATION'] = 'Multi Generation'
data['flat_model'][data['flat_model'] == 'IMPROVED-MAISONETTE'] = 'Improved-Maisonette'
data['flat_model'][data['flat_model'] == '2-ROOM'] = '2-room'

#flat_model count
count_flat_model = data['flat_model'].nunique()
print("Total Flat Model Count:", count_flat_model)
flat_model_count = data['flat_model'].value_counts()
print("Flat Model Count \n" +str(flat_model_count))

Total Flat Model Count: 21
Flat Model Count
Model A                   208633
Improved                  202602
New Generation            169643
Simplified                 51604
Standard                   38234
Premium Apartment          28886
Maisonette                 25136
Apartment                  19745
Apertment                   9901
Model A2                    8382
Adjoined flat               1913
Model A-Maisonette          1784
Terrace                      609
DBSS                         601
Multi Generation             469
Type S1                      183
Improved-Maisonette          105
Type S2                       80
Premium Maisonette            75
2-room                        38
Premium Apartment Loft         6
Name: flat_model, dtype: int64

In [57]:
#remove storey range outliers
#data = data.ix[data['storey_range'].isin(['01 TO 05','06 TO 10','11 TO 15','16 TO 20','21 TO 25','26 TO 30','31 TO 35','36 TO 40'])]
data = data.loc[data['storey_range'].isin(['01 TO 03','04 TO 06','07 TO 09','10 TO 12','13 TO 15','16 TO 18','19 TO 21','22 TO 24','25 TO 27','28 TO 30','31 TO 33','34 TO 36','37 TO 39','40 TO 42','43 TO 45','46 TO 48','49 TO 51'])]

#storey range count
count_storey_range = data['storey_range'].nunique()
print("Total Storey Range Count:", count_storey_range)
storey_range_count = data['storey_range'].value_counts()
print("Storey Range Count \n" +str(storey_range_count))

Total Storey Range Count: 17
Storey Range Count
04 TO 06    196169
07 TO 09    177012
01 TO 03    158446
10 TO 12    149470
13 TO 15     46780
16 TO 18     16906
19 TO 21      8337
22 TO 24      5233
25 TO 27      2100
28 TO 30       788
34 TO 36       151
31 TO 33       151
37 TO 39       148
40 TO 42        73
46 TO 48        11
43 TO 45        11
49 TO 51         5
Name: storey_range, dtype: int64

In [58]:
#add sales year variable
if ('sales_year' not in data.columns):
    data.insert(1,'sales_year',(pd.DatetimeIndex(data['month']).year))

#add sales year variable
if ('sales_month' not in data.columns):
    data.insert(1,'sales_month',(pd.DatetimeIndex(data['month']).month))
    
#add sales year variable
if ('month' in data.columns):
    del data['month']

Note that two variables are not going to be used, which are respectively block and street name.

In [59]:
#remove unnecessary variables
data = data.drop('block',1)
data = data.drop('street_name',1)

data.head(5)

,sales_month,sales_year,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1,1990,ANG MO KIO,1 ROOM,10 TO 12,31.0,Improved,1977,9000.0
1,1,1990,ANG MO KIO,1 ROOM,04 TO 06,31.0,Improved,1977,6000.0
2,1,1990,ANG MO KIO,1 ROOM,10 TO 12,31.0,Improved,1977,8000.0
3,1,1990,ANG MO KIO,1 ROOM,07 TO 09,31.0,Improved,1977,6000.0
4,1,1990,ANG MO KIO,3 ROOM,04 TO 06,73.0,New Generation,1976,47200.0

### 3.2 Encoding
When using categorical data, strings are not able to be interpreted by algorithms. Therefore, these values needs to be translated to a numerical value. For example, the towns in the dataset will be translated to $1,2,…,n$. Since there are rows in our dataset containing characters. These rows (town, flat type, flat model and storey range) are transformed into dummy variables to clarify their levels, with other words, to quantify the qualitative data.

In [60]:
#Note that data.copy() is used to make a copy of data, which will be used for analysis
data_enc = data.copy()

In [61]:
#dummies for town
town_array = np.unique(data['town'])
n = len(town_array)

for i in range(0,n):
    data_enc['town'][data['town'] == town_array[i]] = i+1

#count_town = data['town'].nunique()
#print("Total Town Count:", count_town)
#town_count = data['town'].value_counts()
#print("Town Count \n" +str(town_count))

In [62]:
#dummies for flat types
data_enc['flat_type'][data.flat_type == '1 ROOM'] = 1
data_enc['flat_type'][data.flat_type == '2 ROOM'] = 2
data_enc['flat_type'][data.flat_type == '3 ROOM'] = 3
data_enc['flat_type'][data.flat_type == '4 ROOM'] = 4
data_enc['flat_type'][data.flat_type == '5 ROOM'] = 5
data_enc['flat_type'][data.flat_type == 'MULTI GENERATION'] = 6
data_enc['flat_type'][data.flat_type == 'EXECUTIVE'] = 7

#flat_type_count = data['flat_type'].value_counts()
#print("Flat Type \n" +str(flat_type_count))

In [63]:
#dummies for storey ranges 
storey_range_array = np.unique(data['storey_range'])
n = len(storey_range_array)

for i in range(0,n):
    data_enc['storey_range'][data['storey_range'] == storey_range_array[i]] = i+1

#count_storey_range = data['storey_range'].nunique()
#print("Total Storey Range Count:", count_storey_range)
#storey_range_count = data['storey_range'].value_counts()
#print("Storey Range Count \n" +str(storey_range_count))

In [64]:
#dummies for flat models
flat_model_array = np.unique(data['flat_model'])
n = len(flat_model_array)

for i in range(0,n):
    data_enc['flat_model'][data['flat_model'] == flat_model_array[i]] = i+1

#count_flat_model = data['flat_model'].nunique()
#print("Total Flat Model Count:", count_flat_model)
#flat_model_count = data['flat_model'].value_counts()
#print("Flat Model Count \n" +str(flat_model_count))

In [150]:
data_enc.head()

,sales_month,sales_year,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1,1990,1,1,4,31.0,6,1977,9000.0
1,1,1990,1,1,2,31.0,6,1977,6000.0
2,1,1990,1,1,4,31.0,6,1977,8000.0
3,1,1990,1,1,3,31.0,6,1977,6000.0
4,1,1990,1,3,2,73.0,13,1976,47200.0

### 3.4 One Hot Encoding (Categorical Data)
Label encoding is a traditional way of translating strings into numerical values. The disadvantage of this method is the fact that algorithms might misinterpret these values. A higher town value does not necessarily mean that it has the potential of having higher resale prices.

To cope with this problem, the one hot encoding approach is utilised. Instead of giving a numerical value, new columns are created per feature value. Continuing with the town example, this would mean that every town would have a new column. When the datapoint is part of this value, it will receive a $1$, whilst the other values receive a $0$ in this column. Therefore, it can be considered as a boolean solution for the feature values; either it is part of the value (True) or it is not (False). The disadvantage of the method is the fact that a significant amount of columns will be added to the dataset.

To use the one hot encoding approach, the Panda feature get_dummies is used. This is similar to the LabelBinarizer function used in the Scikit-learn package. We chose for the pandas approach as our data was already converted to a pandas DataFrame. One hot encoding are used for the following features: town/area, flat type, flat model and storey range.

In [66]:
#Note that data.copy() is used to make a copy of data, which will be used for analysis
data_henc = data.copy()

In [67]:
#one hot encoding for town
dummies = pd.get_dummies(data_henc['town']).rename(columns=lambda x: 'town_' + str(x))
data_henc = pd.concat([data_henc, dummies], axis=1)

In [68]:
#one hot encoding for flat types
dummies = pd.get_dummies(data_henc['flat_type']).rename(columns=lambda x: 'flat_type_' + str(x))
data_henc = pd.concat([data_henc, dummies], axis=1)

#source: http://www.hdb.gov.sg/cs/infoweb/residential/buying-a-flat/new/types-of-flats&rendermode=preview

In [69]:
#one hot encoding for storey ranges
dummies = pd.get_dummies(data_henc['storey_range']).rename(columns=lambda x: 'storey_range_' + str(x))
data_henc = pd.concat([data_henc, dummies], axis=1)

In [70]:
#one hot encoding for flat models
dummies = pd.get_dummies(data_henc['flat_model']).rename(columns=lambda x: 'flat_model_' + str(x))
data_henc = pd.concat([data_henc, dummies], axis=1)

In [71]:
#remove unnecessary variables
data_henc = data_henc.drop('town',1)
data_henc = data_henc.drop('flat_type',1)
data_henc = data_henc.drop('storey_range',1)
data_henc = data_henc.drop('flat_model',1)

print(data_henc.shape)

(761791, 77)

In [72]:
data_henc.head(5)

,sales_month,sales_year,floor_area_sqm,lease_commence_date,resale_price,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,...,flat_model_Multi Generation,flat_model_New Generation,flat_model_Premium Apartment,flat_model_Premium Apartment Loft,flat_model_Premium Maisonette,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2
0,1,1990,31.0,1977,9000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1990,31.0,1977,6000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1990,31.0,1977,8000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1990,31.0,1977,6000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1990,73.0,1976,47200.0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### 3.4 New Features
In this part, we will explore new features that we can add to make our data more valuable. Since the data consists of seven objects, two floats and one integer, the seven objects will be researched and to see which can and will be changed. (Note that adding and dropping variables have been changed to comments, because an error would pop up otherwise. This is because the variable is already added or dropped, thus it cannot be performed again.) <br>

***Remaining Lease*** Linear regression will not be able to read the years, since it can see it as another numerical value. Therefore, the remaining lease year is calculated. Once the sales year variable is created, the remaining lease year can be computed by using the following formula: $remaining lease year = 99 - (sales year - lease commence date)$.

To check whether the remaining lease variable is correct, the data tail from dataset 5 in the data acquisition is used to compare with the new data. Since only the fifth data set consists of this data, we could use the column for validation.

In [73]:
#Note that data.copy() is used to make a copy of data, which will be used for analysis
data_f = data_henc.copy()

In [74]:
#compute remaining lease variable
if ('remaining_lease' not in data_f.columns):
    data_f['remaining_lease'] = 99 - (data.sales_year - data.lease_commence_date)

***Longtitude and Latitude*** Another interesting feature would be the longtitude and latitude of the street name. Fortunately, Google has such a package to make this possible. Unfortunately, this is only possible for 2,500 data points per day. Since we have 768.629 data points, this task was not possible for us. However, we still want to show that we have tried running the code underneath. Note that this can be seen as a limitation for our study.

In [15]:
#compute longlat variable
#data['long_lat'] = geocoder.google(data['street_name']).lating

Status code Unknown from https://maps.googleapis.com/maps/api/geocode/json: ERROR - ('Connection aborted.', OSError("(32, 'EPIPE')",))

***Area*** Instead of longtitude and latitutde, we have made an extra variable called "Area". The Area captures all the town in a specific region, which is based on the information of the official Singapore government site.

In [75]:
#Note that data.copy() is used to make a copy of data, which will be used for analysis
data_2f = data_f.copy()

In [76]:
#add area variable
data_2f.insert(1,'area',(data['town']))

In [77]:
#divide towns into areas
data_2f['area'][data_2f.area == 'BUKIT MERAH'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'TOA PAYOH'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'QUEENSTOWN'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'GEYLANG'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'KALLANG/WHAMPOA'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'BISHAN'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'MARINE PARADE'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'CENTRAL AREA'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'BUKIT TIMAH'] = 'CENTRAL'
data_2f['area'][data_2f.area == 'TAMPINES'] = 'NORTH'
data_2f['area'][data_2f.area == 'YISHUN'] = 'NORTH'
data_2f['area'][data_2f.area == 'BEDOK'] = 'NORTH'
data_2f['area'][data_2f.area == 'PASIR RIS'] = 'NORTH'
data_2f['area'][data_2f.area == 'JURONG WEST'] = 'WEST'
data_2f['area'][data_2f.area == 'BUKIT BATOK'] = 'WEST'
data_2f['area'][data_2f.area == 'CHOA CHU KANG'] = 'WEST'
data_2f['area'][data_2f.area == 'CLEMENTI'] = 'WEST'
data_2f['area'][data_2f.area == 'JURONG EAST'] = 'WEST'
data_2f['area'][data_2f.area == 'BUKIT PANJANG'] = 'WEST'
data_2f['area'][data_2f.area == 'WOODLANDS'] = 'EAST'
data_2f['area'][data_2f.area == 'SEMBAWANG'] = 'EAST'
data_2f['area'][data_2f.area == 'LIM CHU KANG'] = 'EAST'
data_2f['area'][data_2f.area == 'ANG MO KIO'] = 'NORTH EAST'
data_2f['area'][data_2f.area == 'HOUGANG'] = 'NORTH EAST'
data_2f['area'][data_2f.area == 'SERANGOON'] = 'NORTH EAST'
data_2f['area'][data_2f.area == 'SENGKANG'] = 'NORTH EAST'
data_2f['area'][data_2f.area == 'PUNGGOL'] = 'NORTH EAST'

area_count = data_2f['area'].value_counts()
print("Area \n" +str(area_count))

#source: http://www.hdb.gov.sg/cs/infoweb/about-us/history/hdb-towns-your-home

Area
NORTH         213559
WEST          191750
CENTRAL       158781
NORTH EAST    134634
EAST           63067
Name: area, dtype: int64

In [78]:
#one hot encoding for area
dummies = pd.get_dummies(data_2f['area']).rename(columns=lambda x: 'area_' + str(x))
data_2f = pd.concat([data_2f, dummies], axis=1)

del data_2f['area']

***GDP*** WHY GDP

In [79]:
data_2f.head(5)

,sales_month,sales_year,floor_area_sqm,lease_commence_date,resale_price,town_ANG MO KIO,town_BEDOK,town_BISHAN,town_BUKIT BATOK,town_BUKIT MERAH,...,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,remaining_lease,area_CENTRAL,area_EAST,area_NORTH,area_NORTH EAST,area_WEST
0,1,1990,31.0,1977,9000.0,1,0,0,0,0,...,0,0,0,0,86,0,0,0,1,0
1,1,1990,31.0,1977,6000.0,1,0,0,0,0,...,0,0,0,0,86,0,0,0,1,0
2,1,1990,31.0,1977,8000.0,1,0,0,0,0,...,0,0,0,0,86,0,0,0,1,0
3,1,1990,31.0,1977,6000.0,1,0,0,0,0,...,0,0,0,0,86,0,0,0,1,0
4,1,1990,73.0,1976,47200.0,1,0,0,0,0,...,0,0,0,0,85,0,0,0,1,0

### 3.5 Normalizations
Data normalization is known as a fundamental preprocessing task to improve the prediction of a model. A normalized dataset might enhances the learning capability with minimum error, since the quality of the data is guaranteed before using any learning algorithm. The data will be scaled in the same range of values for the input features to minize bias [source]. We are using this technique as well to research if this method might improve our scores, since the input are on widely different scales. Two different types of normalization will be used, respectively Z-scoring and Max/Min normalization.

[source] S.C. Nayak, B.B. Misra, and H.S. Behera (2016) Impact of Data Normalization on Stock Index Forecasting, p. 257-269 Volume 6 https://pdfs.semanticscholar.org/f412/4953553981e32c39273bb2745a140311d160.pdf

#### 3.5.1 Z-scoring
Z-scoring normalizes the values of the features according to the mean and standard deviation.

In [80]:
data_z = data_2f.copy()

In [81]:
# z-scoring
data_z[['sales_month', 'sales_year','floor_area_sqm','remaining_lease','lease_commence_date']] = (data_z[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']] - data_z[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']].mean())/data_z[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']].std()

#### 3.5.2 Max/Min-Normalization
This method normalizes the values of the features according to the minimum and maximum of these values.

In [82]:
data_n = data_2f.copy()

In [83]:
# max/min
data_n[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']] = (data_n[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']] - data_n[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']].min())/(data_n[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']].max() - data_n[['sales_month', 'sales_year', 'floor_area_sqm','remaining_lease','lease_commence_date']].min())

### 3.6 Additional One Hot Encoding (Discrete Values)

In [84]:
data_henc_2 = data_2f.copy()

In [85]:
#one hot encoding for sales_year
dummies = pd.get_dummies(data_henc_2['sales_year']).rename(columns=lambda x: 'sy_' + str(x))
data_henc_2 = pd.concat([data_henc_2, dummies], axis=1)

#one hot encoding for sales_month
dummies = pd.get_dummies(data_henc_2['sales_month']).rename(columns=lambda x: 'sm_' + str(x))
data_henc_2 = pd.concat([data_henc_2, dummies], axis=1)

#one hot encoding for lease_commence_date
dummies = pd.get_dummies(data_henc_2['lease_commence_date']).rename(columns=lambda x: 'lcd_' + str(x))
data_henc_2 = pd.concat([data_henc_2, dummies], axis=1)

In [86]:
data_henc_2 = data_henc_2.drop(columns=['sales_year','sales_month','lease_commence_date'],axis=1)

In [87]:
print(data_henc_2.shape)

(761791, 171)

## 4 Data Analysis
<hr>
This part of the report will show algorithms that have been applied to predict the housing prices. We have focused on regressions with different features. This section will first define all the models that will be used and afterwards the results of applying the models to the different scenarios.

### 4.1 Models
The models below are selected MOTIVATE

#### Linear Regression
Linear regression is one of the most common used modeling technique where the dependent variable is continuous and the independent variables can be either continuous or discrete [source]. Since our dataset has the same setting, this technique is used as one of the possible models.

[source] B. Patel, 17 Apr. 2017, Predicting house value using regression analysis, https://towardsdatascience.com/regression-analysis-model-used-in-machine-learning-318f7656108a

In [166]:
# Linear Regression
def lin_reg(data):
    start = time.time()

    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)

    model_lin_reg = LinearRegression()
    model_lin_reg.fit(x_train, y_train)
    y_pred_l = model_lin_reg.predict(x_test)
    #y_pred_l_train = model_lin_reg.predict(x_train)
    
    mae_l = mean_absolute_error(y_test, y_pred_l)
    #mae_l_train = mean_absolute_error(y_train, y_pred_l_train)
    print("\nMAE for Linear Regression is: %.0f"%mae_l)
    #print("For the train set: %.0f" %mae_l_train)
    
    cdf_l = r2_score(y_test, y_pred_l)
    print('R-squared for Linear Regression: %.2f' % cdf_l)
    
#    cv_pred = cross_val_predict(model_lin_reg, data_input, data_output, cv=5)
#    mae_cv = mean_absolute_error(data_output, cv_pred)
#    print("\nCV MAE for LR is: %.0f"%mae_cv)
    
    scores = cross_val_score(model_lin_reg, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nLR Time = %.0f'%(time.time() - start))

#### Random Forest
Random Forests are an ensemble method functioning on bagging as mentioned previously. Gradient Boosting Regressors are trees that function on boosting. Boosting is a mechanism in which samples which were not fit well in a tree are given higher probability to be utilized in the next tree. In this way, the algorithm focuses on increasing accuracy of prediction on all samples sequentially. Boosting takes advantage of weak learners and perfects them one by one. Using Gradient Boosting Regressors, the cross-validation accuracy jumped up to 89.80% and the RMSE was down to 0.1297.

In [152]:
# Run Forest Run
def random_f(data,version):
    start = time.time()
    
    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)

    model_Forest = RandomForestRegressor()
    model_Forest.fit(x_train, y_train)
    y_pred_f = model_Forest.predict(x_test)
    #y_pred_f_train = model_Forest.predict(x_train)
    
    mae_f = mean_absolute_error(y_test, y_pred_f)
    #mae_f_train = mean_absolute_error(y_train, y_pred_f_train)
    print("\nMAE for Random Forest is: %.0f"%mae_f)
    #print("For the train set: %.0f" %mae_f_train)
    
    cdf_f = r2_score(y_test, y_pred_f)
    print('R-squared for Random Forest: %.2f' % cdf_f)

    if (version == 1):
        importances = model_Forest.feature_importances_
        indices = np.argsort(importances)[::-1]
        columns = np.array(list(data_input))
        return importances
        
        # Print the feature ranking
        print("\nFeature ranking:")
        
        for f in range(x_train.shape[1]):
            print("%d. %s (%f)" % (f + 1, columns[indices[f]], importances[indices[f]]))
        
    scores = cross_val_score(model_Forest, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nRF Time = %.0f'%(time.time() - start))

#### Ada Boost

In [124]:
# Run AdaBoost
def ada(data):
    start = time.time()
    
    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)

    model_abr = AdaBoostRegressor()
    model_abr.fit(x_train, y_train)
    y_pred_abr = model_abr.predict(x_test)
    
    mae_abr = mean_absolute_error(y_test, y_pred_abr)
    print("\nMean Absolute Error for AdaBoost is: %.0f" %mae_abr)
    
    cdf_abr = r2_score(y_test, y_pred_abr)
    print('R-squared for AdaBoost: %.2f' % cdf_abr)
 
    scores = cross_val_score(model_abr, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nAda Time = %.0f'%(time.time() - start))

#### Gradient Boosting Regressor

In [123]:
# Run GradientBoostingRegressor
def gbr(data):
    start = time.time()
    
    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)

    model_gbr = GradientBoostingRegressor()
    model_gbr.fit(x_train, y_train)
    y_pred_gbr = model_gbr.predict(x_test)
    
    mae_gbr = mean_absolute_error(y_test, y_pred_gbr)
    print("\nMean Absolute Error for GradientBoostingRegressor is: %.0f" %mae_gbr) 

    cdf_gbr = r2_score(y_test, y_pred_gbr)
    print('R-squared for GradientBoostingRegressor: %.2f' % cdf_gbr)

    scores = cross_val_score(model_gbr, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nGBR Time = %.0f'%(time.time() - start))

#### XG Boost

In [130]:
# Run XG Boost
def xg_boost(data):
    start = time.time()
    
    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)
    
    dtrain = xgb.DMatrix(x_train, label = y_train)
    dtest = xgb.DMatrix(x_test, label = y_train)
    param = {
        'max_depth': 3,  # the maximum depth of each tree. Try with max_depth: 2 to 10.
        'eta': 0.3,  # the training step for each iteration. Try with ETA: 0.1, 0.2, 0.3...
        'silent': 1,  # logging mode - quiet
        'objective': 'reg:linear'}  # defines the loss function to be minimized  
    num_round = 20  # the number of training iterations. Try with num_round around few hundred!
    #----------------
    bst = xgb.train(param, dtrain, num_round)
    y_pred_xgb = bst.predict(dtest)
    best_preds = np.asarray([np.argmax(line) for line in y_pred_xgb])

    mae_xgb = mean_absolute_error(y_test, y_pred_xgb)
    print("\nMean Absolute Error for XGBoost is: %.0f" %mae_xgb)
    #xgb.plot_importance(bst)
    #plt.show()

    cdf_xgb = r2_score(y_test, y_pred_xgb)
    print('R-squared for XGBoost: %.2f' % cdf_xgb)
    
    scores = cross_val_score(xgb.train, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nXGB Time = %.0f'%(time.time() - start))

Some columns are still of 'object' type and need to be changed to int or float in order to run XGBoost.

#### Neural Network
Predictive Neural Network is a powerful predictive modeling technique, which can learn to perform predictive tasks. It can for example be trained to predict numerical values, such as housing prices. As mentioned in the introduction, previous studies showed that this technique might perform better compared to a regression model. However, since Singapore is a quasi-open market, Neural Network is used to research if this is the case.

In [122]:
# Neural Network
def neural(data):
    start = time.time()
    
    data_input = data.drop('resale_price' ,axis=1)
    data_output = data['resale_price']
    x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.33, random_state=42)

    model_n = MLPRegressor()
    model_n.fit(x_train, y_train)
    y_pred_n = model_n.predict(x_test)
    
    mae_n = mean_absolute_error(y_test, y_pred_n)
    print("\nMean Absolute Error for Neural Network is: %.0f" %mae_n)  
    
    cdf_n = r2_score(y_test, y_pred_n)
    print('R-squared for Neural Network: %.2f' % cdf_n)
    
    scores = cross_val_score(model_n, data_input, data_output, cv=5, scoring='neg_mean_absolute_error')
    scores = - scores
    #print(scores)
    print("\nCV MAE: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))
    
    print('\nNeural Time = %.0f'%(time.time() - start))

### 4.2 Analysis
The analysis section will show the Mean Absolute Error and R-squared of every model with different scenarios. 

***Mean Absolute Error***
MEANING MAE

***Coefficient of Determination***
The coefficient of determination, also known as $R^2$, is the proportion variance between the dependent variable and the prediction from the independent variable. This coefficient ranges from 0 to 1, where 1 means that there is no variance between the predicted and actual.

Formula:<br> 
$$R^2 = 1 - \frac{\sum(y - \hat{y})^2}{\sum(y - \bar{y})^2}$$

where $y$ is the actual value, $\hat{y}$ is the predicted value of y, and $\bar{y}$ is the mean value of y.

#### Scenario 1: Only data encoding
Some columns are still of 'object' type and need to be changed to int or float in order to run XGBoost.

In [148]:
#print(data_enc.dtypes)
data_enc['flat_type'] = pd.to_numeric(data_enc['flat_type'])
data_enc['storey_range'] = pd.to_numeric(data_enc['storey_range'])
data_enc['flat_model'] = pd.to_numeric(data_enc['flat_model'])
data_enc['town'] = pd.to_numeric(data_enc['town'])
print(data_enc.dtypes)

sales_month              int64
sales_year               int64
town                     int64
flat_type                int64
storey_range             int64
floor_area_sqm         float64
flat_model               int64
lease_commence_date      int64
resale_price           float64
dtype: object

To quickly different algorithms and features, we use a sample size of the full train data.<br>

In [168]:
data_sample = data_enc.sample(frac=0.1)

In [176]:
lin_reg(data_enc)
random_f(data_enc,0)
#lin_reg(data_sample)
#random_f(data_sample,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 54119
R-squared for Linear Regression: 0.73

CV MAE: 67015.85 (+/- 39131.44)

LR Time = 2

MAE for Random Forest is: 16005
R-squared for Random Forest: 0.97

CV MAE: 57737.25 (+/- 66512.80)

RF Time = 144

#### Scenorio 2: Analysis on one hot encoding

In [400]:
#data_sample = data_henc.sample(frac=0.1)

In [159]:
lin_reg(data_henc)
random_f(data_henc,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 47967
R-squared for Linear Regression: 0.80
[ 55523.06253656  49459.87404337  43044.16671053  67857.85820959
  96245.58648405]

CV MAE: 62426.11 (+/- 37573.35)

LR Time = 32

MAE for Random Forest is: 15874
R-squared for Random Forest: 0.97

CV MAE: 56892.06 (+/- 65887.97)

RF Time = 341

#### Scenario 3: Analysis on one new feature (remaining lease)

In [461]:
#data_sample = data_f.sample(frac=0.1)

In [162]:
lin_reg(data_f)
random_f(data_f,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 47969
R-squared for Linear Regression: 0.80

CV MAE: 102928987.60 (+/- 411499977.14)

LR Time = 26

MAE for Random Forest is: 15854
R-squared for Random Forest: 0.97

CV MAE: 57203.75 (+/- 67088.86)

RF Time = 362

Scores improved and thus we will keep this feature.

#### Scenario 4: Analysis on two new features (remaining lease and area)

In [ ]:
#data_sample = data_2f.sample(frac=0.1)

In [116]:
lin_reg(data_2f)
random_f(data_2f,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 47967

CV MAE for LR is: 98571776
[  5.55347464e+04   4.95112696e+04   4.29991840e+04   6.78804067e+04
   4.92643553e+08]

CV MAE: 98571895.67 (+/- 394071657.39)

LR Time = 50

MAE for Random Forrest is: 15738

CV MAE: 56892.00 (+/- 67088.69)

RF Time = 345

#### Scenario 5: Analysis on Normalization Data

In [ ]:
#data_sample = data_z.sample(frac=0.1)

In [ ]:
print('\n### z-scoring ###')
lin_reg(data_z)
random_f(data_z,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

#### Scenario 6: Analysis on max-min normalization data

In [ ]:
#data_sample = data_n.sample(frac=0.1)

In [ ]:
print('\n### max/min ###')
lin_reg(data_n)
random_f(data_n,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

nothing happened

#### Scenario 7: Addition One hot Encoding of Months and Years

In [382]:
#data_sample = data_henc_2.sample(frac=0.1)

In [383]:
lin_reg(data_henc_2)
random_f(data_henc_2,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 29559
LR Time = 9

MAE for Random Forrest is: 16084
RF Time = 145

its horsecrap, will not do

### 4.3 Reduced Features

In [139]:
data_r = data_2f.copy()

In [140]:
print(data_r.shape)

(761791, 83)

In [141]:
#data_sample = data_r.sample(frac=0.1)

In [142]:
importances = random_f(data_r,1)

MAE for Random Forest is: 15725
R-squared for Random Forest: 0.97

In [143]:
#indices = np.argsort(importances)[::-1]
columns = np.array(list(data_r.drop('resale_price',1)))

for i in range(0,len(columns)):
    feature = columns[i]
    weight = importances[i]
    if (weight < 0.005):
        del data_r[feature]
        
print(data_r.shape)

(761791, 10)

In [144]:
lin_reg(data_r)
random_f(data_r,0)
#gbr(data_sample)
#xg_boost(data_sample)
#neural(data_sample)

MAE for Linear Regression is: 53504
R-squared for Linear Regression: 0.75

CV MAE for LR is: 67267
[  56148.96950623   53980.03231626   49540.52757144   74387.40058907
  102306.47657642]

CV MAE: 67272.68 (+/- 38913.72)

LR Time = 4

MAE for Random Forest is: 24652
R-squared for Random Forest: 0.93

CV MAE: 60318.27 (+/- 63016.36)

RF Time = 100

- deleting any features with low importance only made the result worse
- some overall not important at all but maybe very important for the few datapoints

### 4.4 Split Datasets according to Periods

Following our assumption in the previous chapter, we also try to run the regressions on seperate datasets to research whether the accuracy will increase.

Looking at the average price per square meter in the sales years, periods can be identified. The first period identified is the economic growth from 1990 until 1997 [13]. The "Asian Crisis" of 1997-1998 affected Singapore and other emerging markets, which is visible from the decline in resale price in the data [14]. In the subsequent years, Singapore had a stable growth in economic terms, but coped with the economic slowdown in the US, Japan and the EU. Combined with the SARS outbreak in 2003, the resale prices remained relatively stable until 2007. According to [15], the HDB resale prices from 2007 onwards grew even faster than the private property market. [15] argues that the increase in price is the result of an increase in median income of Singaporeans. 


Splitting the dataset in these periods could help to predict the resale prices of HDB in Singapore. We thereby assume that the resale prices of data in the first period (i.e. 1990-1997) will be less accurate to predict the resale price in 2018. This is based on both economic motives, as well as demographic motives (e.g. increased population and land mass).

In [131]:
# Creating the datasets based on the periods described
data_period1 = data_2f.loc[data['sales_year'].isin(['1990','1991','1992','1993','1994','1995','1996','1997','1998'])]
data_period2 = data_2f.loc[data['sales_year'].isin(['1999','2000','2001','2002','2003','2004','2005','2006','2007'])]
data_period3 = data_2f.loc[data['sales_year'].isin(['2008','2009','2010','2011','2012','2013''2014','2015','2016','2017','2018'])]

In [ ]:
#data_sample_p1 = data_period1.sample(frac=0.1)
#data_sample_p2 = data_period2.sample(frac=0.1)
#data_sample_p3 = data_period3.sample(frac=0.1)

In [132]:
periods = [data_period1,data_period2,data_period3]
for i in range(0,3):
    period = periods[i]
    print(period.shape)

(230238, 83)
(309490, 83)
(189870, 83)

In [133]:
period_names = ['1990-1998','1999-2007','2008-2018']

for i in range(0,3):
    print('\n### For',period_names[i],'###')
    period = periods[i]
    #lin_reg(period)
    random_f(period,0)
    #gbr(period)
    #xg_boost(period)
    #neural(period)

### For 1990-1998 ###


MAE for Random Forest is: 13959
R-squared for Random Forest: 0.98

CV MAE: 40205.30 (+/- 12162.30)

RF Time = 75

### For 1999-2007 ###


MAE for Random Forest is: 13129
R-squared for Random Forest: 0.96

CV MAE: 18904.87 (+/- 6168.79)

RF Time = 109

### For 2008-2018 ###


MAE for Random Forest is: 21179
R-squared for Random Forest: 0.94

CV MAE: 28331.40 (+/- 5801.44)

RF Time = 67

In [138]:
overall_mae = (13944*230238 + 13119*309490 + 21123*189870)/(230238+309490+189870)
print('Overall Mean Absolute Error: %.2f' % overall_mae)

overall_rsq = (0.98*230238 + 0.96*309490 + 0.94*189870)/(230238+309490+189870)
print('Overall R-squared: %.2f' % overall_rsq)

Overall Mean Absolute Error: 15462.30
Overall R-squared: 0.96

## 5 Conclusions, Limitations & Future Research
<hr>
Add here

## References
<hr>
Add here